api_url: https://public-api.srm-staging.pp1.oraclecloud.com/ #http://srm-api.slc05hqd.oracle.com
messages_path: /engage/v1/messages
users_path: /admin/v1/accounts/:account_id/users

token: 3103db6b7ef5bf186f901f6aba9d7d35ed9bf9ee415c4827ac55838e4be6ecab
bundle_id: 4340
user_ids:           # when set to 'all_bundle_users', it will instead use user_ids in output/users.yml
  - 1519
  - 9188
activity_created_at_start: 2016-04-20
activity_created_at_end: 2016-05-17
activity_type: xxx

labels:       # only for fetching external reply(e.g. ci_message reply)
  - 'test3'
  - '0513'

response_time_goal: 300
total_customer_posts: 10000
